.chocolate{
 
  background: linear-gradient(
    160deg,
    #6b3e26 0%,
    #4b2a1a 35%,
    #2a150e 60%,
    #140a06 100%
  );
  color:white;
  width:600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 3px 1px rgb(57, 29, 29);
 

}
.chocolate-btn{
    margin-top: 20px;
    
}
.chocolate-btn button{
    padding:20px 40px;
    font-size: 1.2rem;
    color:#4b2a1a;
    border-radius: 10px;
    margin-right:20px;
    transition: all 0.3s ease;
}
.chocolate-btn button:hover{
    transform:scale(1.2)
}

.yes-choco{
  display:none;
  width:700px;
  background-color: #4b2a1a;
  height:400px;
  position:absolute;

 

}

.no-choco{
  display:none;
  width:700px;
  background-color: #4b2a1a;
  height:400px;
  position:absolute;

}

.yes-choco.show{
  display:flex;
  flex-direction: column;
  align-items: center;

}

.yes-choco h1{
  margin-top: 20px;
  color:white;
}
.whatsapp{
  background: #25D366;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

.no-choco.show{
  display:flex;
  flex-direction: column;
  align-items: center;
  color:white;
}
.no-choco img{
  width:80%;
  object-fit: cover;
  height: 80%;
}
.yes-choco img{
  width:90%;
  height:70%;
  object-fit: contain;
}


@media screen  and (max-width:600px){
  .chocolate{
    width:100%;

  }
  .yes-choco,.no-choco{
    width:100%;
  }
  
}


