.teddy{

    display:flex;
    flex-direction: column;
    width:80%;
    height:600px;
    align-items: center;

}

@keyframes image {
    from{
        transform:scale(0);
    }to{
        transform:scale(1);
    }
    
}

.teddy img{
    transform-origin: center;
    animation: image 5s ease-in;
    
}
.teddy h1{
    color:#FF4D6D;
    text-shadow:1px 1px 1px rgb(51, 42, 42);

}

.teddy h2{
    color:red;
    animation:colors 3s ease-in-out infinite alternate;
    
}
@keyframes colors{

    0%{
        font-size: 1rem;
        color:red;
        text-shadow: 1px 1px 1px#FF4D6D;
        


    }
    50%{
        font-size: 2rem;
        color:white;
         text-shadow: 1px 1px 1px#FF4D6D;

    }
    100%{
        font-size: 1rem;
       

    }

}